
					<h2>Children Info</h2>
					<h3>Information for Child 1</h3>
					
					<div>	
						<label for="child_full_name">Full Name</label>
						<input type="text" name="child_full_name" id="child_full_name" />
					</div>
					<div>	
						<label for="child_age">Child_age</label>
						<select class="calculate percentage" id="child_age" name="child_age" required>
							<option value=""> Select Date</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>												
							</select>
					</div>
					
					<div>
						<label for="spouse_transferer">Sex</label>
						<input type="radio" name="child_sex" value="male"> Male<br>
						<input type="radio" name="child_sex" value="female"> Female<br>
						<input type="radio" name="child_sex" value="unborn"> Unborn<br>
					</div>
					
					<div>	
						<label for="child_ssno">SS#</label>
						<input type="text" name="child_ssno" id="child_ssno" />
					</div>
					
					<div>
							<label for="visa_card_acno">Date of Birth </label>							
							<div id="month">
							<label class="field select">
							<select class="calculate percentage" id="child_dob_1" name="child_dob_1" >
							<option value=""> Select Month </option>
							<option value="1">January</option>
							<option value="2">February</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>										
							</select>
							</label>
							</div>
							
							<div id="phone1">
							<label class="field select">
							<select class="calculate percentage" id="child_dob_2" name="child_dob_2" >
							<option value=""> Select Date</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>												
							</select>
							</label>
							</div>

							<div id="phone1">
							<label class="field select">
							<select class="calculate percentage" id="child_dob_3" name="child_dob_3" >
							<option value=""> Select Year </option>
							<option value="2018">2018</option>
							<option value="2017">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>											
							</select>
							</label>
							</div>
						</div>
					
					<div>	
						<label for="child_placebirth">Place of Birth</label>
						<input type="text" name="child_placebirth" id="child_placebirth" />
					</div>
					<h3>Current Address:</h3>
					
					<div>	
						<label for="current_add_street">Street</label>
						<input type="text" name="current_add_street" id="current_add_street" />
					</div>
					<div>	
						<label for="current_add_city">City</label>
						<input type="text" name="current_add_city" id="current_add_city" />
					</div>
					<div>	
						<label for="current_add_state">State/Province</label>
						<input type="text" name="current_add_state" id="current_add_state" />
					</div>
					<div>	
						<label for="current_add_zip">Zip/Postal Code</label>
						<input type="text" name="current_add_zip" id="current_add_zip" />
					</div>
					<div>	
						<label for="current_res_length">Length of Residence</label>
						<input type="text" name="current_res_length" id="current_res_length" />
					</div>
					<div>	
						<label for="current_res_with">Currently Resides with</label>
						<input type="text" name="current_res_with" id="current_res_with" />
					</div>
					
						<h3>Previous Address #1 (Only if within past five years)</h3>
					
					<div>	
						<label for="pre_add_street">Street</label>
						<input type="text" name="pre_add_street" id="pre_add_street" />
					</div>
					<div>	
						<label for="pre_add_city">City</label>
						<input type="text" name="pre_add_city" id="pre_add_city" />
					</div>
					<div>	
						<label for="pre_add_state">State/Province</label>
						<input type="text" name="pre_add_state" id="pre_add_state" />
					</div>
					<div>	
						<label for="pre_add_zip">Zip/Postal Code</label>
						<input type="text" name="pre_add_zip" id="pre_add_zip" />
					</div>
					<div>	
						<label for="pre_res_length">Length of Residence</label>
						<input type="text" name="pre_res_length" id="pre_res_length" />
					</div>
					<div>	
						<label for="pre_res_with">Previously Resides with</label>
						<input type="text" name="pre_res_with" id="pre_res_with" />
					</div>
		<h3>Previous Address #2 (Only if within past five years)</h3>
					
					<div>	
						<label for="pre2_add_street">Street</label>
						<input type="text" name="pre2_add_street" id="pre2_add_street" />
					</div>
					<div>	
						<label for="pre2_add_city">City</label>
						<input type="text" name="pre2_add_city" id="pre2_add_city" />
					</div>
					<div>	
						<label for="pre2_add_state">State/Province</label>
						<input type="text" name="pre2_add_state" id="pre2_add_state" />
					</div>
					<div>	
						<label for="pre2_add_zip">Zip/Postal Code</label>
						<input type="text" name="pre2_add_zip" id="pre2_add_zip" />
					</div>
					<div>	
						<label for="pre2_res_length">Length of Residence</label>
						<input type="text" name="pre2_res_length" id="pre2_res_length" />
					</div>
					<div>	
						<label for="pre2_res_with">Previously Resides with</label>
						<input type="text" name="pre2_res_with" id="pre2_res_with" />
					</div>
					
					
										
					<div>
						<label for="other_courtcase">Has there been any other court case in which you have participated as a party, witness, or in 
					any other way concerning the custody of a visitation with the child(ren)?</label>
						<input type="radio" name="other_courtcase" value="yes"> Yes<br>
						<input type="radio" name="other_courtcase" value="no"> No<br>
					</div>
					
					<div>
						<label for="child_court">Court</label>
						<input type="text" name="child_court" id="child_court" />
					</div>
					<div>
						<label for="child_caseno">Case no</label>
						<input type="text" name="child_caseno" id="child_caseno" />
					</div>
					<div>
						<label for="date_demonstration">Date of Demonstration</label>
						<input type="text" name="date_demonstration" id="date_demonstration" />
					</div>
					<div>
						<label for="additional_children">Are there any additional Children</label>
						<input type="radio" id="additional_children" name="additional_children" value="yes"> Yes<br>
						<input type="radio" id="additional_children" name="additional_children" value="no"> No<br>
					</div>