
				<div id="home_transferrer" class="hide_this">
					<div>
						<label for="spouse_transferer">Which Spouse will be the transferrer?</label>
						<input type="radio" name="spouse_transferer" value="yes"> Husband<br>
						<input type="radio" name="spouse_transferer" value="no"> Wife<br>
					</div>
					<div>
						<label for="spouse_transferee">Which Spouse will be the transferee?</label>
						<input type="radio" name="spouse_transferee" value="yes"> Husband<br>
						<input type="radio" name="spouse_transferee" value="no"> Wife<br>
					</div>
					
					<div>
						<div>
							<label for="cap_onecred">How much will the transferee pay the transferrer for the marital home?</label>
							$<input type="text" id="transferee_pay" name="transferee_pay">(example format: $50,000.00)
						</div>
						
						<div>
							<label for="visa_card_acno">What is the actual(or approximate) date the transfer of the material home will or has taken place? </label>
							
							<div id="month">
							<label class="field select">
							<select class="calculate percentage ignore" id="vehicle_reg_date1=2" name="dor_month" required>
							<option value=""> Select Month </option>
							<option value="1">January</option>
							<option value="2">February</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>										
							</select>
							</label>
							</div>
							
							<div id="phone1">
							<label class="field select">
							<select class="calculate percentage ignore" id="vehicle_reg_date1" name="vehicle_reg_date" required>
							<option value=""> Select Date</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>												
							</select><i class="fa fa-chevron-down arrow1"></i>
							<b class="tooltip tip-right-top"><em>Select! First Registration Date</em></b>
							</label>
							</div>

							<div id="phone1">
							<label class="field select">
							<select class="calculate percentage" id="vehicle_reg_date3" name="vehicle_reg_date3" required>
							<option value=""> Select Year </option>
							<option value="2018">2018</option>
							<option value="2017">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>											
							</select>
							</label>
							</div>
						</div>
						
						<div>
							<label for="wife_cont_autoloan">: </label>
							<input type="text" id="wife_cont_autoloan" name="wife_cont_autoloan">
						</div>
						<div>	
							<label for="wife_debt">Type in Wife's debt :</label>
							<textarea name="wife_debt" id="wife_debt" cols="30" rows="10"></textarea>
						</div>
						<h3>Will appear as:</h3>
						<p>
							The parties agree that the Wife, Shall pay and indemnify and hold the husband harmless from the following marital debt:
						</p>
						<div>	
							<label for="hus_debt">Type in Husband's debt :</label>
							<textarea name="hus_debt" id="hus_debt" cols="30" rows="10"></textarea>
						</div>
					</div>
				</div>
				<div id="home_sold" class="hide_this">	
					<h2>For if 2</h2>
						<div>	
							<label for="hus_debt">What is the husband's percentage or doller ammount he will receive or be responsible for (in case of a loss) from the sale of the meterial home?</label>
							<input type="text" name="hus_percentage" id="hus_percentage" />% or doller ammount: $<input type="text" name="hus_doller_ammount" id="hus_doller_ammount" />
						</div>
						<div>	
							<label for="hus_debt">What is the wife's percentage or dollar amount she will receive or be responsible for (in case of a loss) from the sale of the meterial home?</label>
							<input type="text" name="wife_percentage" id="wife_percentage" />% or doller ammount: $<input type="text" name="wife_doller_ammount" id="wife_doller_ammount" />
						</div>
						<div>	
							<label for="hus_debt">When will the material home be sold?</label>
							<input type="text" name="mat_home_sold1" id="mat_home_sold1" /> <input type="text" name="mat_home_sold2" id="mat_home_sold2" /> <input type="text" name="mat_home_sold3" id="mat_home_sold3" />
						</div>
					</div>