
					<div>
						<label for="spouse_transferer">Who will be the resident for the divorce?</label>
						<input type="radio" name="divorce_resident" value="yes"> Husband<br>
						<input type="radio" name="divorce_resident" value="no"> Wife<br>
					</div>
					<div>	
						<label for="name_res_witness">Name of resident Witness</label>
						<input type="text" name="name_res_witness" id="name_res_witness" />
					</div>
					<div>	
						<h3>Expl:</h3>
						<p>The resident witness ...</p>
					</div>
					<div>	
						<label for="who_do_know">Who do they know (Husband/Wife)</label>
						<input type="text" name="who_do_know" id="who_do_know" />
					</div>
					
					<div>
							<label for="visa_card_acno">How long has your resident witness named above lived in Naveda? </label>
							
							<div id="month">
							<label class="field select">
							<select class="calculate percentage ignore" id="how_long_witness_navada1" name="how_long_witness_navada1" required>
							<option value=""> Select Month </option>
							<option value="1">January</option>
							<option value="2">February</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>										
							</select>
							</label>
							</div>
							
							<div id="phone1">
							<label class="field select">
							<select class="calculate percentage ignore" id="how_long_witness_navada1" name="how_long_witness_navada1" required>
							<option value=""> Select Date</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>												
							</select>
							</label>
							</div>

							<div id="phone1">
							<label class="field select">
							<select class="calculate percentage" id="how_long_witness_navada1" name="how_long_witness_navada1" required>
							<option value=""> Select Year </option>
							<option value="2018">2018</option>
							<option value="2017">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>											
							</select>
							</label>
							</div>
						</div>
						
						<div>	
							<label for="who_do_know">Resident Witness Address</label>
							<textarea type="text" name="who_do_know" id="who_do_know"> </textarea>
						</div>
						<div>	
							<h3>Expl:</h3>
							<p>Where your resident witness lives?</p>
							<p>How often does your resident witness see you?</p>
							<input type="text" name="resident_witness" id="resident_witness" />
						</div>
					