
	<div class="row">
			<div class="col">
				<label for="pregnant">
					Is wife pregnant at this time? 
				</label>
				<input type="radio" id="wife_pregnant" name="wife_pregnant" value="yes"> Yes<br>
				<input type="radio" id="wife_pregnant" name="wife_pregnant" value="no">No<br>

						<label for="legal">
							Who will have legal custody of the children? 
						</label><br>
						<input type="radio" name="legal_custody" value="">Husband<br>
						<input type="radio" name="legal_custody" value="">Wife<br>
						<input type="radio" name="legal_custody" value="">Joint-Shared<br>

						<input type="checkbox" name="legal_custody" value=""> Husband<br>
  						<input type="checkbox" name="legal_custody" value=""> Wife<br>
  						<input type="checkbox" name="legal_custody" value=""> Joint-Shared<br>
			</div>
		</div>