
		<div class="row">
			<div class="col">
				<div>
					<h3>Will be entitled to any marital portion of Husband's pension benefit, retirement fund, profit sharing plan or 401K?</h3>
					<input type="radio" id="portion_benefit" name="portion_benefit" value="yes"> Yes<br>
						<input type="radio" id="portion_benefit" name="portion_benefit" value="no"> No<br>	
					<label for="portion_benefit">
						Any portion of a benefit, found, profit sharing plan and/or 401k that was earned during the marriage is considered marital property and is potentially up for division.
						<br>
						Keep in mind that it is often suggested that the value of any marital portion of any account be offset with another marital asset. This way the account does not have to be divided.
					</label>
									
							<p id="portion_no">
								The parties each waive all claims, present and future to the other's pension benefits, retirement fund, 401k's profit sharing plans and accounts of the like.</p>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col">
			<p id="portion_yes">
								The parties agree that the marital portion of all present pension benefits, founds, 401k's, profit sharing plans and accounts of the like will be address follows:
							</p>
				<label for="pension_benefit">
					Which spouse will give portion of the pension benefit, retirement fund, profit sharing plan or 401k?
				</label>
				<input type="radio" name="portion_benefit1" value="husband"> Husband<br>
						<input type="radio" name="portion_benefit1" value="wife"> Wife<br>

						<label for="retirement_fund">
					Name of retirement fund | 401k?
				</label>
				<input type="text" name="retirement_fund" value=""> 
				<label for="retirement_fund">
					Acc#
				</label>
				<input type="text" name="account_no" value=""> 
				<br>
				<label for="pension_benefit">
					Which spouse will give portion of the pension benefit, retirement fund, profit sharing plan or 401k?
				</label>
				<input type="radio" name="portion_benefit2" value="husband"> Husband<br>
						<input type="radio" name="portion_benefit2" value="wife"> Wife<br>

			</div>
		</div>
				
		<div class="row">
			<div class="col">
				<label for="percentage">What is the percentage or dollar amount of the marital portion the benefit/fund/plan/401k that the spouse will be receiving?</label>
				<input type="text" name="percentage" value="%">
				<label for="">or Dollar Amount</label><input type="text" name="por_dollar" value="">
			</div>
		</div>

</body>
</html>