	
			<div class="row">
				<div class="col">
					<div class="">
						<div class="question">
							<p>Wife's Full Name?</p>
							<input name="wife_name" size="30" value="">
						</div>							
					</div>
					<div class="">
						<div class="question">
							<p>Wife's Maiden Name?</p>
							<input name="wife_maiden_name" size="30" value="">
						</div>							
					</div>
					<p>Full legal name. EasyNVDDivorce</p>
					<div class="">
		            <h4> 
		             	Wife's Address
		            </h4>

		            <div>
					     <label for="wife_street">Street:</label>
					     <input type="text" id="wife_street" name="wife_street">
    				</div>
							
					<div>
					     <label for="wife_city">City:</label>
					     <input type="text" id="wife_city" name="wife_city">
    				</div>
					
					<div>
					     <label for="wife_zip">Zip Code:</label>
					     <input type="text" id="wife_zip" name="wife_zip">
    				</div>
					<div>
					     <label for="wife_county">County:</label>
					     <input type="text" id="wife_county" name="wife_county">
    				</div>
    				<div>
					     <label for="wife_res_date1">Date Wife has been a resident:</label>
					     <div id="answerControls">
<select name="wiferes_Month">
	<option value="">Select Month</option><option value="January">January
</option><option value="February">February
</option><option value="March">March
</option><option value="April">April
</option><option value="May">May
</option><option value="June">June
</option><option value="July">July
</option><option value="August">August
</option><option value="September">September
</option><option value="October">October
</option><option value="November">November
</option><option value="December">December
</option></select>
<select name="wiferes_Day">
	<option value="">Select Day</option><option value="1">1
</option><option value="2">2
</option><option value="3">3
</option><option value="4">4
</option><option value="5">5
</option><option value="6">6
</option><option value="7">7
</option><option value="8">8
</option><option value="9">9
</option><option value="10">10
</option><option value="11">11
</option><option value="12">12
</option><option value="13">13
</option><option value="14">14
</option><option value="15">15
</option><option value="16">16
</option><option value="17">17
</option><option value="18">18
</option><option value="19">19
</option><option value="20">20
</option><option value="21">21
</option><option value="22">22
</option><option value="23">23
</option><option value="24">24
</option><option value="25">25
</option><option value="26">26
</option><option value="27">27
</option><option value="28">28
</option><option value="29">29
</option><option value="30">30
</option><option value="31">31
</option></select>
<select name="wiferes_Year">
	<option value="">Select Year</option><option value="1918">1918
</option><option value="1919">1919
</option><option value="1920">1920
</option><option value="1921">1921
</option><option value="1922">1922
</option><option value="1923">1923
</option><option value="1924">1924
</option><option value="1925">1925
</option><option value="1926">1926
</option><option value="1927">1927
</option><option value="1928">1928
</option><option value="1929">1929
</option><option value="1930">1930
</option><option value="1931">1931
</option><option value="1932">1932
</option><option value="1933">1933
</option><option value="1934">1934
</option><option value="1935">1935
</option><option value="1936">1936
</option><option value="1937">1937
</option><option value="1938">1938
</option><option value="1939">1939
</option><option value="1940">1940
</option><option value="1941">1941
</option><option value="1942">1942
</option><option value="1943">1943
</option><option value="1944">1944
</option><option value="1945">1945
</option><option value="1946">1946
</option><option value="1947">1947
</option><option value="1948">1948
</option><option value="1949">1949
</option><option value="1950">1950
</option><option value="1951">1951
</option><option value="1952">1952
</option><option value="1953">1953
</option><option value="1954">1954
</option><option value="1955">1955
</option><option value="1956">1956
</option><option value="1957">1957
</option><option value="1958">1958
</option><option value="1959">1959
</option><option value="1960">1960
</option><option value="1961">1961
</option><option value="1962">1962
</option><option value="1963">1963
</option><option value="1964">1964
</option><option value="1965">1965
</option><option value="1966">1966
</option><option value="1967">1967
</option><option value="1968">1968
</option><option value="1969">1969
</option><option value="1970">1970
</option><option value="1971">1971
</option><option value="1972">1972
</option><option value="1973">1973
</option><option value="1974">1974
</option><option value="1975">1975
</option><option value="1976">1976
</option><option value="1977">1977
</option><option value="1978">1978
</option><option value="1979">1979
</option><option value="1980">1980
</option><option value="1981">1981
</option><option value="1982">1982
</option><option value="1983">1983
</option><option value="1984">1984
</option><option value="1985">1985
</option><option value="1986">1986
</option><option value="1987">1987
</option><option value="1988">1988
</option><option value="1989">1989
</option><option value="1990">1990
</option><option value="1991">1991
</option><option value="1992">1992
</option><option value="1993">1993
</option><option value="1994">1994
</option><option value="1995">1995
</option><option value="1996">1996
</option><option value="1997">1997
</option><option value="1998">1998
</option><option value="1999">1999
</option><option value="2000">2000
</option><option value="2001">2001
</option></select>
</div>
    				</div>
    				<div>
					     <label for="wife_coun_res">County in which wife Resides:</label>
					     <input type="text" id="wife_coun_res" name="wife_coun_res">
    				</div>
					<div>
						<label for="wife_curr_res">Address in which Wife currently resides:</label>
						<input type="text" id="wife_curr_res" name="wife_curr_res">
					</div>
					 <h4> 
		             	Mailing Address
		            </h4>

		            <div>
					     <label for="wmail_street">Street:</label>
					     <input type="text" id="wmail_street" name="wmail_street">
    				</div>
							
					<div>
					     <label for="wmail_city">City:</label>
					     <input type="text" id="wmail_city" name="wmail_city">
    				</div>
					
					<div>
					     <label for="wmail_zip">Zip Code:</label>
					     <input type="text" id="wmail_zip" name="wmail_zip">
    				</div>
					<div>
					     <label for="wmail_county">County:</label>
					     <input type="text" id="wmail_county" name="wmail_county">
    				</div>
					<div>
						<label for="wmail_curr_res">Address in which Wife mail received:</label>
						<input type="text" id="wmail_curr_res" name="wmail_curr_res">
					</div>
					</div>

					<h4>
						Wife's Phone
					</h4>
					<div>
						<label for="phone_ans">Answer Block:</label>
						<input type="text" id="phone_ans" name="phone_ans">
					</div>
					<div>
						<label for="phone_home">Home or Cell:</label>
						<input type="text" id="phone_home" name="phone_home">
					</div>
						

  
					<h4>
						Date of Birth (The month, day and year Wife was born)
					</h4>
					<div>
						<span id="month">
						<label class="field select">
						<select class="calculate percentage ignore" id="dor_month" name="dor_month" required>
						<option value=""> Month </option>
						<option value="1">January</option>
						<option value="2">February</option>
						<option value="3">March</option>
						<option value="4">April</option>
						<option value="5">May</option>
						<option value="6">June</option>
						<option value="7">July</option>
						<option value="8">August</option>
						<option value="9">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>										
						</select>
						</label>
						</span>
						<span id="phone1">
						<label class="field select">
						<select class="calculate" id="dob_date" name="dob_date" required>
						<option value="">Date</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>												
						</select>
						</label>
						</span>

						<span id="phone1">
						<label class="field select">
						<select class="calculate percentage" id="dob_year" name="dob_year" required>
						<option value=""> Year </option>
						<option value="2018">2018</option>
						<option value="2017">2017</option>
						<option value="2016">2016</option>
						<option value="2015">2015</option>
						<option value="2014">2014</option>
						<option value="2013">2013</option>
						<option value="2012">2012</option>
						<option value="2011">2011</option>
						<option value="2010">2010</option>
						<option value="2009">2009</option>
						<option value="2008">2008</option>											
						</select>
						</label>
						</span>
					<h4>
						Social Security Number
					</h4>

					<div>
						<label for="sos_num">Social security number</label>
						<input type="text" id="sos_num" name="sos_num">
					</div>

					<h4>
						Drive License Number
					</h4>
					<div>
						<label for="state_license_no">
							The State and License number which appears on your license, if none, State N/A
						</label>
						<input type="text" id="state_license_no" name="state_license_no">
					</div>
					<div>
						<label for="gender">Wife's Employer</label>
						<input type="radio" id="wife_emp" name="wife_emp" value="yes"> Yes<br>
						<input type="radio" id="wife_emp" name="wife_emp" value="no"> No<br>
					</div>

					<div>
						<label for="emp_address">Employer Address</label>
						<input type="text" id="emp_address" name="emp_address">
					</div>

					<div>
						<label for="emp_phone">Employer Phone</label>
						<input type="text" id="emp_phone" name="emp_phone">
					</div>
					<div>
						<label for="wife_income">Wife Gross Monthly Income</label>
						<input type="text" id="wife_income" name="wife_income">
					</div>

					<div id="wife_ethnicity11">
						<label class="field select">Wife Ethnicity</label>
						<select class="calculate percentage" id="wife_ethnicity" name="wife_ethnicity" required>
						<option value=""> -- Select -- </option>
						<option value="white">White (Not Hispanic)</option>
						<option value="african">African-American(Hispanic)</option>
						<option value="asian">Asian or Pacific Islander</option>
						<option value="native_american">Native American/Alaskan Native</option>								
						</select>
					</div>
        		</div>
        	</div>
				
			<div class="row">
				<div class="col">
					<div class="">
						<div class="question">
							<p>Husband's Full Name?</p>
							<input name="husband_name" size="30" value="">
						</div>							
					</div>
					<div class="">
						<div class="question">
							<p>Husband's Maiden Name?</p>
							<input name="husband_maiden_name" size="30" value="">
						</div>							
					</div>
					<p>Full legal name. EasyNVDDivorce</p>
					<div class="">
		            <h4> 
		             	Husband's Address
		            </h4>

		            <div>
					     <label for="husband_street">Street:</label>
					     <input type="text" id="husband_street" name="husband_street">
    				</div>
							
					<div>
					     <label for="husband_city">City:</label>
					     <input type="text" id="husband_city" name="husband_city">
    				</div>
					
					<div>
					     <label for="husband_zip">Zip Code:</label>
					     <input type="text" id="husband_zip" name="husband_zip">
    				</div>
					<div>
					     <label for="husband_county">County:</label>
					     <input type="text" id="husband_county" name="husband_county">
    				</div>
    				<div>
					     <label for="husband_res_date1">Date Husband has been a resident:</label>
					     <div id="answerControls">
<select name="husbandres_Month">
	<option value="">Select Month</option><option value="January">January
</option><option value="February">February
</option><option value="March">March
</option><option value="April">April
</option><option value="May">May
</option><option value="June">June
</option><option value="July">July
</option><option value="August">August
</option><option value="September">September
</option><option value="October">October
</option><option value="November">November
</option><option value="December">December
</option></select>
<select name="husbandres_Day">
	<option value="">Select Day</option><option value="1">1
</option><option value="2">2
</option><option value="3">3
</option><option value="4">4
</option><option value="5">5
</option><option value="6">6
</option><option value="7">7
</option><option value="8">8
</option><option value="9">9
</option><option value="10">10
</option><option value="11">11
</option><option value="12">12
</option><option value="13">13
</option><option value="14">14
</option><option value="15">15
</option><option value="16">16
</option><option value="17">17
</option><option value="18">18
</option><option value="19">19
</option><option value="20">20
</option><option value="21">21
</option><option value="22">22
</option><option value="23">23
</option><option value="24">24
</option><option value="25">25
</option><option value="26">26
</option><option value="27">27
</option><option value="28">28
</option><option value="29">29
</option><option value="30">30
</option><option value="31">31
</option></select>
<select name="husbandres_Year">
	<option value="">Select Year</option><option value="1918">1918
</option><option value="1919">1919
</option><option value="1920">1920
</option><option value="1921">1921
</option><option value="1922">1922
</option><option value="1923">1923
</option><option value="1924">1924
</option><option value="1925">1925
</option><option value="1926">1926
</option><option value="1927">1927
</option><option value="1928">1928
</option><option value="1929">1929
</option><option value="1930">1930
</option><option value="1931">1931
</option><option value="1932">1932
</option><option value="1933">1933
</option><option value="1934">1934
</option><option value="1935">1935
</option><option value="1936">1936
</option><option value="1937">1937
</option><option value="1938">1938
</option><option value="1939">1939
</option><option value="1940">1940
</option><option value="1941">1941
</option><option value="1942">1942
</option><option value="1943">1943
</option><option value="1944">1944
</option><option value="1945">1945
</option><option value="1946">1946
</option><option value="1947">1947
</option><option value="1948">1948
</option><option value="1949">1949
</option><option value="1950">1950
</option><option value="1951">1951
</option><option value="1952">1952
</option><option value="1953">1953
</option><option value="1954">1954
</option><option value="1955">1955
</option><option value="1956">1956
</option><option value="1957">1957
</option><option value="1958">1958
</option><option value="1959">1959
</option><option value="1960">1960
</option><option value="1961">1961
</option><option value="1962">1962
</option><option value="1963">1963
</option><option value="1964">1964
</option><option value="1965">1965
</option><option value="1966">1966
</option><option value="1967">1967
</option><option value="1968">1968
</option><option value="1969">1969
</option><option value="1970">1970
</option><option value="1971">1971
</option><option value="1972">1972
</option><option value="1973">1973
</option><option value="1974">1974
</option><option value="1975">1975
</option><option value="1976">1976
</option><option value="1977">1977
</option><option value="1978">1978
</option><option value="1979">1979
</option><option value="1980">1980
</option><option value="1981">1981
</option><option value="1982">1982
</option><option value="1983">1983
</option><option value="1984">1984
</option><option value="1985">1985
</option><option value="1986">1986
</option><option value="1987">1987
</option><option value="1988">1988
</option><option value="1989">1989
</option><option value="1990">1990
</option><option value="1991">1991
</option><option value="1992">1992
</option><option value="1993">1993
</option><option value="1994">1994
</option><option value="1995">1995
</option><option value="1996">1996
</option><option value="1997">1997
</option><option value="1998">1998
</option><option value="1999">1999
</option><option value="2000">2000
</option><option value="2001">2001
</option></select>
</div>
    				</div>
    				<div>
					     <label for="husband_coun_res">County in which Husband Resides:</label>
					     <input type="text" id="husband_coun_res" name="husband_coun_res">
    				</div>
					<div>
						<label for="husband_curr_res">Address in which Husband currently resides:</label>
						<input type="text" id="husband_curr_res" name="husband_curr_res">
					</div>
					 <h4> 
		             	Mailing Address
		            </h4>

		            <div>
					     <label for="wmail_street">Street:</label>
					     <input type="text" id="wmail_street" name="wmail_street">
    				</div>
							
					<div>
					     <label for="wmail_city">City:</label>
					     <input type="text" id="wmail_city" name="wmail_city">
    				</div>
					
					<div>
					     <label for="wmail_zip">Zip Code:</label>
					     <input type="text" id="wmail_zip" name="wmail_zip">
    				</div>
					<div>
					     <label for="wmail_county">County:</label>
					     <input type="text" id="wmail_county" name="wmail_county">
    				</div>
					<div>
						<label for="wmail_curr_res">Address in which Husband mail received:</label>
						<input type="text" id="wmail_curr_res" name="wmail_curr_res">
					</div>
					</div>

					<h4>
						Husband's Phone
					</h4>
					<div>
						<label for="phone_ans">Answer Block:</label>
						<input type="text" id="phone_ans" name="phone_ans">
					</div>
					<div>
						<label for="phone_home">Home or Cell:</label>
						<input type="text" id="phone_home" name="phone_home">
					</div>
						

  
					<h4>
						Date of Birth (The month, day and year Husband was born)
					</h4>
					<div>
						<span id="month">
						<label class="field select">
						<select class="calculate percentage ignore" id="dor_month" name="dor_month" required>
						<option value=""> Month </option>
						<option value="1">January</option>
						<option value="2">February</option>
						<option value="3">March</option>
						<option value="4">April</option>
						<option value="5">May</option>
						<option value="6">June</option>
						<option value="7">July</option>
						<option value="8">August</option>
						<option value="9">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>										
						</select>
						</label>
						</span>
						<span id="phone1">
						<label class="field select">
						<select class="calculate" id="dob_date" name="dob_date" required>
						<option value="">Date</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>												
						</select>
						</label>
						</span>

						<span id="phone1">
						<label class="field select">
						<select class="calculate percentage" id="dob_year" name="dob_year" required>
						<option value=""> Year </option>
						<option value="2018">2018</option>
						<option value="2017">2017</option>
						<option value="2016">2016</option>
						<option value="2015">2015</option>
						<option value="2014">2014</option>
						<option value="2013">2013</option>
						<option value="2012">2012</option>
						<option value="2011">2011</option>
						<option value="2010">2010</option>
						<option value="2009">2009</option>
						<option value="2008">2008</option>											
						</select>
						</label>
						</span>
					<h4>
						Social Security Number
					</h4>

					<div>
						<label for="sos_num">Social security number</label>
						<input type="text" id="sos_num" name="sos_num">
					</div>

					<h4>
						Drive License Number
					</h4>
					<div>
						<label for="state_license_no">
							The State and License number which appears on your license, if none, State N/A
						</label>
						<input type="text" id="state_license_no" name="state_license_no">
					</div>
					<div>
						<label for="gender">Husband's Employer</label>
						<input type="radio" id="husband_emp" name="husband_emp" value="yes"> Yes<br>
						<input type="radio" id="husband_emp" name="husband_emp" value="no"> No<br>
					</div>

					<div>
						<label for="emp_address">Employer Address</label>
						<input type="text" id="emp_address" name="emp_address">
					</div>

					<div>
						<label for="emp_phone">Employer Phone</label>
						<input type="text" id="emp_phone" name="emp_phone">
					</div>
					<div>
						<label for="husband_income">Husband Gross Monthly Income</label>
						<input type="text" id="husband_income" name="husband_income">
					</div>

					<div id="husband_ethnicity11">
						<label class="field select">Husband Ethnicity</label>
						<select class="calculate percentage" id="husband_ethnicity" name="husband_ethnicity" required>
						<option value=""> -- Select -- </option>
						<option value="white">White (Not Hispanic)</option>
						<option value="african">African-American(Hispanic)</option>
						<option value="asian">Asian or Pacific Islander</option>
						<option value="native_american">Native American/Alaskan Native</option>								
						</select>
					</div>
        		</div>
        	</div>