<option value="carson_city">Carson City</option>

<option value="churchill_county" selected="selected">Churchill County</option>

<option value="clark_county" selected="selected">Clark County</option>

<option value="douglas_county" selected="selected">Douglas County</option>

<option value="elko_county" selected="selected">Elko County</option>

<option value="esmeralda_county" selected="selected">Esmeralda County</option>

<option value="eureka_county" selected="selected">Eureka County</option>

<option value="humboldt_county" selected="selected">Humboldt County</option>

<option value="lander_county" selected="selected">Lander County</option>
	
<option value="lincoln_county" selected="selected">Lincoln County</option>

<option value="lyon_county" selected="selected">Lyon County</option>

<option value="mineral_county" selected="selected">Mineral County</option>

<option value="nye_county" selected="selected">Nye County</option>

<option value="pershing_county" selected="selected">Pershing County</option>

<option value="storey_county" selected="selected">Storey County</option>

<option value="washoe_county" selected="selected">Washoe County</option>

<option value="white_pine_county" selected="selected">White Pine County</option>

<div class="question">Wife's Full Name?</div>
<input name="wifename" size="30" value="">