.bigHead {
 
}
#show_wife_resident_nev,#emp_wife_fields,.hide_this{
	display:none !important;
}
table.blueBoxForm.pad6 {
    background: #dce0e6;
}
table.blueBoxForm.pad6 tr td {
    border: none;
}
table.blueBoxForm.pad6 tr td {
    padding: 6px 32px;
}
table.blueBoxForm.pad6 tr td {
    font-size: 14px;
}
.qualifyContinue {
    width: 17%;
    display: inline-block;
    float: right;
	padding: 1em;
}
table.arrowLinkLeft {
    float: left;
}
.blueBox {
	background: #dce0e6;
    padding: 1em 0em;
    color: #4e6480;
    border: none;
    font-size: 14px;
}
table.blueBoxForm.pad6 {
    border: none !important;
}
.link_next {
    display: inline-block;
    float: left;
    padding-right: 2em;
}
.blueBoxContent {
    padding: 1em;
}
p.no_notice {
    background: #dce0e6;
    padding: 20px;
    font-size: 14px;
	color: red;
}
table#create_account_table {
    color: #212121;
    background: #dce0e6;
    font-weight: bold;
}
table#create_account_table tr td {
    padding: 4px 1em;
}
td.input input {
    height: 33px;
    width: 250px;
    border-radius: 4px;
    border: none;
	padding: 10px;
}
table#create_account_table tr td {
    width: 50%;
}
span.tiny {
    display: block;
    text-align: left;
}
div#reg_notice {
    display: block;
    text-align: center;
    width: 90%;
    float: left;
    height: 40px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.checkboxes_list {
    width: 50%;
    display: inline-block;
}
.checkboxes_list input {
    margin-right: 6px;
    display: inline-block;
}

.buttons_col.col-sm-3 {
    display: inline-block;
    width: 23%;
}
input.mk_center {
    display: block;
    text-align: center;
    margin-left: 40%;
}
.bigHead {
    text-align: center;
    display: block;
    display: block;
    border: 2px solid #626262;
    display: block;
    padding: 13px;
    border: 2px solid #626262;
}
td.do_you_qualify_select select {
    padding: 3px;
    margin: 0px;
    width: 100%;
}

 /* Style for Divorce Form */

.form-style-5 p {
    padding: 0px;
    font-weight: bold;
    margin: 3px;
}
.date_of_birth {
    width: 32%;
    display: inline-block;
    float: left;
    padding-left: 10px;
}
.checkboxes_left {
    float: left;
}
.form-style-5 input[type="checkbox"]{
	margin-right: 6px;
}
.form-style-5 input[type="radio"]{
	margin-right: 6px;
}

/* Default */ 
.form-style-5{
    max-width: 800px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="password"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="password"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}